/* Common styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes showTopText {
    0% {
        transform: translate3d(0, 75%, 0);
    }
    40%,
    60% {
        transform: translate3d(0, 50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    color: #e1e1e1;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
}

.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.animated-title > div div {
    font-size: 5rem;
    padding: 2vmin 0;
    position: absolute;
}


.animated-title > div div span {
    display: block;
}

.animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}

.animated-title > div.text-top div {
    animation: showTopText 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
    color: #9b3232;
}

.animated-title > div.text-bottom {
    bottom: 0;
}

.animated-title > div.text-bottom div {
    animation: showBottomText 1.5s;
    animation-delay: 4.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}


html {
    font-size: 16px;
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #1d1d1d;
    color: #fff;
}

.site-content {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 5px solid red;
}

.site-content > div {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    animation: none;
}

.site-content > div.active {
    opacity: 1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header {

    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1.5rem;
    width: 100%;
    min-width: 30%;
    transition: height 0.3s, padding 0.3s;
    z-index: 1;
    display: inline-flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: space-between; /* Add this line */
    background-color: rgba(7, 9, 9, 0.71);
}

header.shrink {
    height: 4.5rem;
    padding: 10px;

}

header:hover {
    height: 10.5rem;
    padding: 10px;
}

header:hover.shrink {
    height: 10.5rem;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Verdana;
    align-items: center; /* Add this line to center align the content */
    min-width: 30%;
    width: 100%;

}

.header ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 35px;
}

.header h2 {
    font-size: 32px;
    text-align: center; /* Add this line to center align the text */
}

.header li {
    padding: 0 1.5625rem;
    font-size: 24px;
}

.header a {
    box-shadow: inset 0 0 0 0 black;
    color: white;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;

}

.header a:hover {
    box-shadow: inset 500px 0 0 0 black;
    color: #008080;
}

#about {
    border: 2px solid green;
}

.about-content {
    border: 2px solid blue;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*animation-name: fadeScaleIn;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 0.2s;*/
    /*animation-fill-mode: both;*/
    height: 100%;
}

.top-content {
    border: 2px solid blue;
    width: 50%;
    height: 25%;
    display: flex;

}


@keyframes fadeScaleIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


#contact {
    margin: 0;
    padding: 0;
}

#contact form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

#contact label {
    margin-bottom: 0.5rem;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#contact input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

#contact input[type="submit"]:hover {
    background-color: #555;
}


.tagcloud {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    margin: 1.7rem 2.1rem;

}

.tagcloud--item:hover {
    color: #1c1c1c;
}

/* Media Queries */

/* Desktop */
@media (min-width: 1024px) {
    /* Update styles for desktop screen size */
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .site-content > div {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header {
        height: 4.5rem;
        padding: 10px;
    }

    header.shrink {
        height: 4.5rem;
        padding: 10px;
    }

    .site-content {
        justify-content: center;
    }

    #project-list {
        justify-content: center;
    }

    .animated-title > div div {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Update styles for tablet screen size */
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .site-content > div {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header {
        height: 4.5rem;
        padding: 10px;
    }

    header.shrink {
        height: 4.5rem;
        padding: 10px;
    }

    .site-content {
        justify-content: center;
    }

    #project-list {
        justify-content: center;
    }

    .animated-title > div div {
        text-align: left;
    }

    /* Additional styles for tablet */
    .header h2 {
        font-size: 24px;
    }

    .header li {
        padding: 0 1rem;
        font-size: 18px;
    }

    .word {
        font-size: 36px;
    }

    .about-content h2 {
        font-size: 24px;
    }

    .about-content p {
        width: 90%;
    }

    .highlight-content table {
        padding-left: 2rem;
    }

    .table-body p {
        width: 90%;
    }

    #project-list li {
        margin: 1rem 1rem;
    }

    #project-list a {
        font-size: 16px;
        padding: 0.2rem 1rem;
    }

    .tagcloud {
        font-size: 28px;
        margin: 1.2rem 1.6rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    /* Update styles for mobile screen size */
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .site-content > div {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        display: flex;
        overflow-y: hidden;
        opacity: 1;
        animation: none;
        width: 80%;
    }


    header {
        height: 4.5rem;
        padding: 10px;
    }

    header.shrink {
        height: 4.5rem;
        padding: 10px;
    }

    .site-content {
        justify-content: center;
    }

    #project-list {
        justify-content: center;
    }

    .animated-title > div div {
        text-align: left;
    }

    /* Additional styles for mobile */
    .header h2 {
        font-size: 20px;
    }

    .header li {
        padding: 0 0.5rem;
        font-size: 16px;
    }

    .word {
        font-size: 24px;
    }

    .about-content h2 {
        font-size: 20px;
    }

    .about-content p {
        width: 100%;
    }

    .highlight-content table {
        padding-left: 1rem;
    }

    .table-body p {
        width: 100%;
    }

    #project-list li {
        margin: 1rem 0.5rem;
    }

    #project-list a {
        font-size: 14px;
        padding: 0.2rem 0.75rem;
    }

    .tagcloud {
        font-size: 20px;
        margin: 1rem 1rem;
    }
}